
profiles {

   standard {
      includeConfig 'base.config'
      process.executor = 'local'
      conda.enabled = true
       process {
         withName: 'SKA_FASTQ|SKA_ALIGN|SKA_MERGE|SKA_DISTANCE'{
               conda = "${baseDir}/conda_environments/ska.yml"
         }
         
      }
   }

}
